body {
    text-align: center;
}
.login-form {
    background-color: darkgray;
    display: inline-block;
    text-align: left;
    width: 500px;
    height: 200px;
    border-radius: 25px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}